.header {
  display: flex;
  justify-content: space-between;
}

.welcome {
  font-family: Inter Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #172b4d;
}

.menu_icon {
  width: 18px;
  height: 12px;
  left: 3px;
  top: 6px;
  margin-top: auto;
  margin-bottom: auto;
  color: #172b4d;
}
/*
.headline > img {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
*/
.body {
  background-color: #172b4d;
  margin: 0;
  max-height: 100vh;
}
.home {
  background-image: url("../media/images/header-illsutration-mobile@2x.png");
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em 0;

}
.headline-container {
  display: flex;
  flex-direction: column;
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headline-1,
.headline-2 {
  font-family: Inter Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  /*line-height: 52px;*/
  text-align: center;
}

.headline-1 { color: #36b37e; }

.headline-2 { color: #172b4d; }

.headline-description {
  font-family: Inter Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
}

.social_media {
  padding: 0 20% 0 20%;
}
.links {
  margin-left: 0;
  margin-right: 0;
  padding: 0%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
