@import url('https://fonts.googleapis.com/css?family=Inter:400,500,600,700,800&display=swap');

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.welcome {
  font-family: Inter Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #172b4d;
}

.menu_icon {
  width: 18px;
  height: 12px;
  left: 3px;
  top: 6px;
  margin-top: auto;
  margin-bottom: auto;
  color: #172b4d;
}

.home {
  background-image: url("../media/images/header-illsutration-mobile@2x.png");
  background-size: cover;
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headline-container {
  display: flex;
  flex-direction: column;
}

.headline-1,
.headline-2,
.works_headline {
  font-size: 35px;
}

.headline-1,
.headline-2,
.works_headline,
.headline-description,
.about_me > h3 {
  font-family: Inter Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-align: center;
}

.headline-1 { color: #36b37e; }

.headline-2,
.works_headline,
.about_me > h3,
.headline-description { color: #172b4d; }

.about_me > h3 {
  font-size: 40px;
  line-height: 52px;
  margin: 0 auto;
}

.social_media {
  padding: 0 20% 0 20%;
}

.links {
  margin-left: 0;
  margin-right: 0;
  padding: 0%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.scrolldown {
  border: #172b4d 1px solid;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.middle_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

.works_section_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 20vh;
}

.works_headline {
  text-align: center;
  max-width: 80%;
  margin-bottom: 0;
}

.works_cards {
  align-self: stretch;
  margin-top: 10%;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  row-gap: 34px;
}

.card,
.aboutme_card {
  background-color: #ebf0ee;
  display: flex;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.card {
  flex-direction: column-reverse;
  min-height: 75vh;
}

.card_info {
  background-color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 45%;
}

.card_info > h5 {
  font-family: Inter Arial, sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #3a4a42;
  text-align: center;
  line-height: 32px;
  margin: 0% auto;
  width: 80%;
}

.card_languages,
.languages_list {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.card_languages > .language {
  background-color: #ebf0ee;
}

.card_languages > .language,
.languages_list > .language {
  border-radius: 4px;
  font-family: Inter Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 8px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  padding: 0 5px;
  margin: 5px;
}

.languages_list > .language {
  background-color: white;
  color: #36b37e;
  font-size: 12px;
  line-height: 16px;
  padding: 0 10px;
}

.card_info > button {
  height: 20%;
}

.about_me > button {
  height: 12%;
  width: 60%;
}

.buttons {
  background-color: #36b37e;
  border-radius: 4px;
  font-family: Inter Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
}

.buttons:hover {
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.buttons:focus {
  background: #008552;
}

.about_me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../media/images/aboutme1.png"), url("../media/images/aboutme2.png");
  background-repeat: no-repeat;
  background-position: left bottom, right top;
  background-size: 20%;
  margin: 1em 0;
  padding: 0 5%;
  height: 60vh;
}

.supporting_text,
.headline-description {
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
  padding: 0;
}

.aboutme_card > .languages_section > p,
.supporting_text,
.headline-description {
  font-family: Inter Arial, sans-serif;
  font-style: normal;
  text-align: center;
}

.headline-description {
  margin: 1em;
}

.aboutme_card {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 60vh;
  margin: 2vh auto;
}

.languages_aboutme_img {
  border-radius: 50%;
  background-color: white;
  width: 25%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.languages_aboutme_img > img {
  width: 70%;
  height: 70%;
}

.aboutme_card > .languages_section > p {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
}

.about_me_cards,
ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.languages_section {
  text-align: center;
  align-self: stretch;
}

.languages_list {
  flex-wrap: wrap;
}

.footer {
  background-image: url("../media/images/contactme.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 100% 85%;
  display: grid;
  grid-template-rows: 85% 7% 5%;
}

form > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

form > ul > li > input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #6b778c;
  opacity: 1; /* Firefox */
}

form > ul > li > input {
  border: 1px solid #d0d9d4;
  height: 35px;
  padding-left: 10px;
}

.email {
  text-align: center;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 32px;
}

form > ul > li > textarea {
  height: 80px;
  border: 1px solid #60c095;
  padding-left: 10px;
}

form > ul > li > textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #091e42;
  font-family: 'Inter', serif;
  opacity: 1; /* Firefox */
}

.title_form {
  display: grid;
  grid-template-rows: 53% 47%;
  margin-bottom: 30px;
  padding: 0 15px;
}

.title_form > h3 {
  text-align: center;
  font-family: Inter Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #172b4d;
  align-self: flex-end;
}

.title_form > form > ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title_form > form > ul > li {
  display: flex;
  flex-direction: column;
}

.title_form > form > ul > li > button {
  width: 129px;
  height: 48px;
  padding: 12px;
  align-self: center;
}
